body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;

	position: relative;
	min-height: 100vh;
	width: 100%;

	background-color: #ebeeef;
	background-size: cover;
}

.create-order-buttom {
	position: relative;
	margin-top: 10%;
	margin-left: 50%;
	transform: translate(0%, -50%);
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	background: #11101d;
	padding: 6px 14px;
}

.sidebar .logo_content .logo {
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
}

.logo_content .logo i{
	font-size: 28px;
	margin-right: 5px;
}

.logo_content .logo .logo_name {
	font-size: 25px;
	font-weight: 400;
}

.sidebar ul li {
	position: relative;
	font-size: 18px;
	height: 50px;
	width: 100%;
	list-style: none;
	margin: 0 -35px;
	list-style: none;
	line-height: 50px;
}

.sidebar ul li a {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 4px;
}

.sidebar ul li a:hover {
	background: #fff;
	color: #11101d;
}

.sidebar ul li a i {
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;

}

.sidebar .log_out-back {
	position: absolute;
	left: 50%;
	width: 100%;
	height: 80px;
	bottom: 0px;
	transform: translateX(-50%);
	background-color: #1d1b31;
}

.sidebar #log_out{
	position:absolute;
	left: 50%;
	top: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	color: #fff;
}

.block-form-country {
	height: 34px;
	width: 160px;
	background: gray;
	position: relative;
	margin-top: -50px;
	margin-left: 10px;
	border-radius: 5px 5px 5px 5px;
}

.block-form-cargo {    
	height:34px;
	width:160px;
	background: gray;        
	position: relative;
	top: -30px;
	margin-left: 10px;
	border-radius: 5px 5px 5px 5px;
}

.t-block-form {
	color: white;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	margin-left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.block-from {
	margin: 0 auto;
	position: relative;
	top: 10px;
	margin-left: 20px;
}

.form-class {
	padding-top: 80px;
}

.block-form-units {
	display: inline-block;
	position: relative;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: 0.5vw;

}

.block-form-localCargo {    
	position: relative;
	margin-top: -25px;
	margin-left: 20px;
}

.block-form-localCargo-global {
	position: relative;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 25%;
}

.block-form-additional {    
	margin: 0 auto;
	position: relative;
	top: -10px;
	margin-left: 20px;
}

.block-form-additional-global {
	position: relative;
	margin-top: 50px;
	margin-left: 0px;
}

.t-input-units {
	width: 65px;
	height: 35px;
	position: relative;
	font-size: 1.2em;
	padding-left: 10px;
	top: 0.5px;
	display: inline-block;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	border-bottom-style: dotted;
	outline: none;
}
.t-input-units:focus {
	border-bottom-color: dodgerblue;
	border-bottom-style: solid;
}
.block-to {
	margin: 0 auto;
	position: relative;
	top: -90px;
	margin-left: 300px;
}

.dws-create {
	position: relative;
	left: 50%;
}

.t-block-description {
	color: black;
	font-weight: bold;
	font-size: 1.2em;
}

.t-input-label {
	width: 1220px;
	height: 30px;
	margin: 20px auto;
	position: relative;
	top: 10px;
}

.block {
	background: white;
	/* тень под блоком */
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	/* сглаживание углов блока */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	min-height: 100vh;
	margin-left: 275px;
	margin-right: 0.5vw;
	margin-top: -15px;
}

.login-label-smallCaption {
	color: #4d6a98;
}

.t-label {
	overflow: hidden;
	display: inline-block;
	width: 50%;
	font-size: 2.0em;
	position: relative;
	margin-left: 20px;
}

.t-work-label {
	overflow: hidden;
	text-align: right;
	width: 40%;
	font-size: 1.4em;
	position: absolute;
	top: 10px;
	right: 25px;
	color: black;
}

th, td {
	border: 1px solid grey;
	padding: 10px 15px;
}

.block-table {
	position: -webkit-sticky;
	position: relative;
	top: 15px;
}

table {
	margin: 0 auto;
	border: 3px solid grey;
	width: 100%;
	/* устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px */
	border-top: 3px solid grey;
}

th {
	/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
	border-bottom: 1px solid grey;
	width: 20%;
}

td:first-child {
	width: 30%;
}

.caption {
	caption-side: bottom;
	text-align: right;
	padding: 10px 0;
	font-size: 14px;
}

input[id="addOrder"] {
	padding: 13px 30px;
	font-size: 15px;
	color: #fff;
	background-color: green;
	border: none;
	border-bottom: 4px solid #2ee640;
	cursor: pointer;
	position: relative;
	margin-top: 25px;
	margin-left: 10px;
}

input[id="createOrder"] {
	padding: 13px 30px;
	font-size: 15px;
	color: #fff;
	background-color: green;
	border: none;
	border-bottom: 4px solid #2ee640;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	top: 10px;
	margin-left: auto;
    margin-right: auto;
}

input[id="counry-To"], [id="counry-From"], [id="zip"], [id="date"] {
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;

	border-bottom-width: 1px;
	border-bottom-color: gray;
	border-bottom-style: dotted;

	outline: none;

	padding: 10px 5px;
	font-size: 18px;
	text-overflow: ellipsis;
	padding-left: 15px;
}
/*Обводка справочников, заменить на другой стиль для всех Input*/
input[id="counry-To"]:focus, [id="counry-From"]:focus, [id="zip"]:focus, [id="date"]:focus {
	border-bottom-color: dodgerblue;
	border-bottom-style: solid;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 2;
}

.loader {
	width: 50px;
	height: 50px;
	border: 10px solid gray;
	border-radius: 50%;
	border-top-color: darkred;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 1s spin infinite linear;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.point {
	display: none;
	width: 20px;
	height: 20px;
	background-color: white;
	position: fixed;
	margin-left: 80px;
	margin-top: 22px;
	border-radius: 50%;
	z-index: 1;
	animation: 2s pulse infinite linear;
}

@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(0);
	}

	25% {
		transform: scale(0.75);
		opacity: 1;
	}

	50% {
		transform: scale(0);
		opacity: 1;
	}

	75% {
		transform: scale(1);
		opacity: 0;
	}

	100% {
		transform: scale(0);
		opacity: 0;
	}
}