body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;

	background-color: #ebeeef;

	//background: url("../images/background.jpg") center;
	-webkit-background-size: cover;
	background-size: cover;
}


.block-form-country {    
	height:34px;
	width:160px;
	background: gray;        
	position: relative;
	top: 10px;
	left: 10px;
	border-radius: 5px 5px 5px 5px;
}

.block-form-cargo {    
	height:34px;
	width:160px;
	background: gray;        
	position: relative;
	top: -30px;
	left: 10px;
	border-radius: 5px 5px 5px 5px;
}

.t-block-form {
	color: white;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.block-from {
	margin: 0 auto;
	position: relative;
	top: 10px;
	left: 20px;
}
.form-class {
	display: none;
}
.block-form-units {    
	margin: 0 auto;
	position: relative;
	top: -10px;
	left: 20px;
}

.t-input-units {
	width: 65px;
	height: 35px;
	margin: 0px auto;
	position: relative;
	font-size: 1.2em;
	padding-left: 15px;
}

.block-to {    
	margin: 0 auto;
	position: relative;
	top: -92px;
	left: 360px;
}

.t-block-description {
	color: black;
	font-weight: bold;
	font-size: 1.2em;
}

.t-input-label {
	display: none;
	width: 1220px;
	height: 30px;
	margin: 20px auto;
	position: relative;
	top: 10px;
}

.container {
	background: white;
	width: 1280px;
	height: 50px;
	/* тень под блоком */
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	/* сглаживание углов блока */
	border-radius: 0 0 15px 15px;
	margin: 0 auto;
}

.block {
	background: white;
	width: 1280px;
	height: 800px;
	/* тень под блоком */
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	/* сглаживание углов блока */
	border-radius: 5px 5px 5px 5px;
	margin: 20px auto;
}

.login-label-smallCaption {
	color: #4d6a98;
}

.t-label {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	font-size: 2.0em;
	margin: auto 20px;
}

.t-work-label {
	overflow: hidden;
	width: 100%;
	font-size: 1.2em;
	position: relative;
	top: -45px;
	left: 1110px;
	color: black;
}

th, td {
	border: 1px solid grey;
	padding: 10px 15px;
}

.block-table {
	position: -webkit-sticky;
	position: relative;
	top: 15px;
}

table {
	margin: 0 auto;
	border: 3px solid grey;
	width: 100%;
	/* устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px */
	border-top: 3px solid grey;
}

th {
	/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
	border-bottom: 1px solid grey;
	width: 20%;
}

td:first-child {
	width: 30%;
}

.caption {
	caption-side: bottom;
	text-align: right;
	padding: 10px 0;
	font-size: 14px;
}

.dws-create {
	display: none;
}

input[type="submit"] {
	padding: 13px 30px;
	font-size: 15px;
	color: #fff;
	background-color: green;
	border: none;
	border-bottom: 4px solid #2ee640;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	top: 10px;
	left: 10px;
}

input[id="counry-To"], [id="counry-From"] {
	padding: 10px 5px;
	font-size: 18px;
	border: solid 1px gray;//обводка
	border-radius: 5px 5px 5px 5px;
}